<form>
  <input type='text' name='guess' />
  <input type="checkbox" name="cheat"> Cheat
  <input type='submit' value='Guess!' />
</form>
<h1>
  Message: <%= message %>
</h1>
<% if cheat == 'on' %>
  <h1>
    The real secret number: <%= numby %>
  </h1>
<% end %>
