sinatra/songs_by_sinatra/.byebug_history
sinatra/songs_by_sinatra/development.db
sinatra/songs_by_sinatra/Gemfile.lock
sinatra/songs_by_sinatra/.bundle/config
sinatra/songs_by_sinatra/.sass-cache/378387477e7b19194b1d87b23a0267ed5ba57d56/styles.scssc
